/armadillo
*/Debug
/Debug
*.sdf
*.opensdf
VOIMKL/Debug/*
VOINKL/Release/*
VOIMKL/x64/*
/lib_win64
/mkl
*/Release
*/x64
in
*.sdf
*.suo
VOIMKL/VOIMKL/SavedData.mat
VOIMKL/VOIMKL.sdf
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/d642c212993c30a9/VOI.ipch
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/cf4c0ec6c42834ae/AIROBJECT.ipch
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/7581d1d334a2ca0d/FILTERKALMAN.ipch
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/73472449469bae1/HUNGARIAN.ipch
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/1e0a0ecfb16740fc/PDA.ipch
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/a4e885b14e366bb8/MEASUREMENTS.ipch
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/7b38ef0abe66e3ef/PDA.ipch
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/7af3e0c2c42bc718/IMITATOR.ipch
VOIMKL/.vs/VOIMKL/v15/ipch/AutoPCH/15fc93f0dbd3c8d3/BASETRACEHYPO.ipch
VOIMKL/.vs/VOIMKL/v15/Browse.VC.db
